
  

  /* footer.component.css */
.fixed-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px; /* Establece la altura en 802 píxeles */
    background-color: whitesmoke;
  }
  
  /* Asegura que el fondo del footer ocupe toda la parte inferior de la pantalla */
  .fixed-footer .container {
    width: 100%;
    height: 80%;
  }
  